--extra-index-url https://download.pytorch.org/whl/cu128

numpy
opencv-python
scikit-image
tk
pillow
onnx
onnxruntime-gpu
protobuf
torch==2.9.1+cu128
torchvision==0.24.1
torchaudio
tqdm
ftfy
regex